<aside>
	<div class="panel radius">
		<h3>Conventions!</h3>
		<ul>
			<li>PAX West 2016</li>
			<li>Anime Expo 2016</li>
			<li><s>Sakura-Con 2016</s></li>
			<li><s>PAX 2015</s></li>
			<li><s>The International Dota 2 2015</s></li>
			<li><s>Anime Expo 2015</s></li>
			<li><s>Sakura-Con 2015</s></li>
			<li><s>Emerald City Comic Con 2015></s></li>
			<li><s>PAX Prime 2014</s></li>
			<li><s>The International Dota 2 2014</s></li>
			<li><s>Anime Expo 2014</s></li>
			<li><s>Sakura-Con 2014</s></li>
			<li><s>Emerald City Comic Con 2014</s></li>
			<li><s>Aki-Con 2013></s></li>
			<li><s>PAX Prime 2013</s></li>
			<li><s>Sakura-Con 2013</s></li>
			<li><s>VikingCon 2013</s></li>
			<li><s>Emerald City Comic Con 2013</s></li>
			<li><s>Sakura-Con 2012</s></li>
			<li><s>Emerald City Comic Con 2012</s></li>
			<li><s>Sakura-Con 2011</s></li>	
		<ul>
	</div>

  <img class="b30" src="/images/SidePic.png" alt="Vector by MobileSuitGuy">

</aside>
